/* Chloe/static/Chloe/css/styles.css */

body {
    background-color: #46515c; 
    color: #3da675; 
}

.navbar {
    background-color: #1cb88e !important; 
    border-bottom: 2px solid #7c9bbc; 
}

.navbar-brand,
.nav-link {
    color: #0b0404 !important; 
}

.nav-link:hover {
    color: #555f9f !important;
}